In [24]:
import pandas as pd
from geopy.geocoders import Nominatim

ModuleNotFoundError: No module named 'geopy'

In [23]:
survey = pd.read_csv('/home/mapper/SurveyMonkey/MapTheSeas/AllResponses/Data_All_Responses_180315/CSV/Help us create up-to-date maps of the seas.csv', skiprows=0-2, header=0)

In [18]:
location = survey.iloc[:, 10]

In [19]:
location.head

<bound method NDFrame.head of 0                                    Open-Ended Response
1                              Atlantic, North Carolina
2                                          San Francisco
3                                             Mystic, CT
4                                    South Toms River NJ
5                                   Isleton, California
6                                            Norfolk, VA
7                                          Milwaukee, WI
8                                   Gloucester Point, VA
9                                            Chelsea, NY
10                                    Southampton, Hants
11                                 Bainbridge Island, WA
12                                       New Bedford Ma.
13                                           Kemah,Texas
14                                           Niantic, CT
15                                        Oak Harbor, WA
16                                  Deltaville, Virginia
17                                        Wilmington, NC
18                                  Ponce Inlet, Florida
19                                          Bullfrog, UT
20                                           Everett, WA
21                                           Newport, RI
22                                    Rock Hall, Marylan
23         Phoenix, Arizona.  Yes we have water here.z%ยง
24                                            Monroe, MI
25                                     Catawba Island OH
26                                    Burlington vermont
27                                       King George, VA
28                                            Urbana, VA
29                                           Wareham, MA
                             ...
100                     Full time cruiser - no home port
101                                St. Augustine Florida
102                                       Savusavu, Fiji
103                                          Seattle, WA
104                                             Seabrook
105                                       Burlington, VT
106    Charlotte VT      (near Burlington on Lake Cha...
107                                          Kittery, ME
108                                          Kenmore, WA
109                                            Dover, NH
110                                      Deer Harbor, WA
111                                       Bellingham, WA
112                                        Greenport, NY
113                                           Woods hole
114                                       Woods Hole, MA
115                                       Woods Hole, MA
116                                       woods hole, ma
117                                         Falmouth, MA
118                                                  NaN
119                                  Seattle, Washington
120                                                  NaN
121                                           Durham, NH
122                                     Philadelphia, PA
123                                       Alexandria, VA
124                                       Charleston, SC
125                                       Woods Hole, MA
126                                              Seattle
127                                       Charleston, SC
128                                         newmarket nh
129                                          Newport, RI
Name: Where is your local port (City, State)?, Length: 130, dtype: object>